.form{:style => 'display:none'}
  - if @document.blank?
    = form_tag documents_path do
      = text_area_tag :content
  - else
    = form_tag document_path(@document.token), method: :put do
      = text_area_tag :content, @document.get(:content)

.toolbar
  .logo markdown editor
  .btns
    - if @document.blank?
      %a.save.btn.btn-rounded.btn-flat-night.btn-large{:href => 'javascript:;'}
        %i.fa.fa-save
        %span 保存
    - else
      %a.update.btn.btn-rounded.btn-flat-night.btn-large{:href => 'javascript:;'}
        %i.fa.fa-save
        %span 保存当前版本

      %a.save.btn.btn-rounded.btn-flat-night.btn-large{:href => 'javascript:;'}
        %i.fa.fa-code-fork
        %span 另存新档

.markdown-editor
  .markdown-area
    - if @document.blank?
      %textarea.source
    - else
      %textarea.source= @document.get(:content)

  .html-area